[include]
    path = ~/.gitconfig_local
[core]  
    excludesfile = ~/.gitignore_global
    editor = vim
[alias]
    a = add
    u = checkout
    c = commit
    s = status -sb
    b = branch
    d = diff
    pl = pull
    ps = push
    l = log --pretty=format:'%C(blue)%h%Creset%C(yellow)%d%Creset %s %C(green)%cr %C(cyan)%an%Creset' --abbrev-commit
    lg = log --pretty=format:'%C(blue)%h%Creset%C(yellow)%d%Creset %s %C(green)%cr %C(cyan)%an%Creset' --abbrev-commit --all --graph
    dt = difftool
    mt = mergetool
    smu = submodule update --init --recursive
[color]
    diff = auto
    status = auto
    branch = auto
[apply]
    whitespace = nowarn
[push]
    default = current
	autoSetupRemote = true
	followTags = true
[help]
    autocorrect = 1
[clean]
    requireForce = false
[branch]
    autosetuprebase = always
	sort = -committerdate
[rebase]
	autoStash = true
[advice]
	detachedHead = false
[init]
	defaultBranch = main
[column]
	ui = auto
[tag]
	sort = version:refname
[diff]
	algorithm = histogram
	colorMoved = plain
	mnemonicPrefix = true
	renames = true
[fetch]
	prune = true
	pruneTags = true
	all = true
[gpg "ssh"]
	allowedSignersFile = ~/.git_allowed_signers
