vim/.vim/.netrwhist

code/Library/Application Support/Code/GPUCache/
code/Library/Application Support/Code/Local Storage/
code/Library/Application Support/Code/storage.json
code/Library/Application Support/Code/User/workspaceStorage/
code/Library/Application Support/Code/Cache/
code/Library/Application Support/Code/Cookies
code/Library/Application Support/Code/Cookies-journal
